body {
  font-family: 'Helvetica Neue', sans-serif, Arial;
  font-size: 16px;
  margin: 0 auto;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', sans-serif, Arial;
  font-weight: 200;
}

.hero {
  background: url('../images/pattern-bg.png');
  max-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  /* padding: 30px; */
  /* height: 25vh; */
}

h3.app-title {
  padding: 5px;
  color: white;
  font-weight: 600;
  text-align: center;
}

#map {
    margin-top:0;
    z-index: -10;
  background: #949494;
  height: 100vh;
  /* min-height: 90vh; */
  text-align: center;
  color: gray;
  letter-spacing: 3px;
}

#details {
  position: relative;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  background: white;
  z-index: 1000;
  margin-bottom: -25px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  text-align: center;
  font-weight: 500;
  font-size: 1.15em;
  text-align: center;
}

#details span {
  text-align: center;
  font-weight: 500;
  font-size: 1.15em;
  text-align: center;
}
#details h4 {
  padding: 10px;
  font-weight: 600;
  text-align: center;
  font-size: 0.65em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.divider-right {
  border-right: 2px solid #f4f4f4;
  max-height: 80vh;
}
.attribution {
  font-size: 1.05rem;
  text-align: center;
  font-weight: 200;
}
.attribution a {
  color: #000ebb;
  font-weight: 300;
}

.footer {
    bottom: 0;
    left:0;
    position: relative;
  background: #f7f7f7;
  width: 100%;
  margin-top: 0;
}
