body {
  font-family: 'Helvetica Neue', sans-serif, Arial;
  font-size: 16px;
  margin: 0 auto;
height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', sans-serif, Arial;
    font-weight: 200;
}

.hero {
  background: url('../images/pattern-bg.png');
  max-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  padding: 30px;
  height: 25vh;
}

h3.app-title {
    color: white;
    font-weight: 600;
    text-align: center;
}

#map {
    background: #949494;
     height: 480px; 
    /* min-height: 50vh; */
    text-align: center;
    color: yellow;
    letter-spacing: 3px;
}



#details {
    position: relative;
    border: 1px solid gray;
    border-radius: 10px;
    background: white;
    z-index: 10000;
    margin-top: -65px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    height: auto;
}

#details h4 {
    padding: 20px;
    font-weight: 500;
    text-align: center;
    font-size: 0.85em;
    text-transform: uppercase;
}

.attribution {
  font-size: 1.05rem;
  text-align: center;
  font-weight: 200;
}
.attribution a {
  color: #000EBB;
  font-weight: 300;
}


.footer {
background: #f7f7f7;
}